body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #898686;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

div {
  box-sizing: border-box;
}
.container {
  text-align: center;
  padding: 10px;
  background: rgb(126, 121, 121);
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(207, 207, 207, 0.1);
}
.container h2 {
  margin: 10px 0;
  font-size: 24px;
  color: #3ae035;
}
.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  gap: 10px;
  margin: 20px;
  justify-content: center;
}
.gameover{
    color: red;
}
.winner{
    color: green;
    
}
.box {
  width: 100px;
  height: 100px;
  background-color: #161919;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 10px;
  transition: transform 0.2s ease, background-color 0.2s ease;
}
.box:hover {
  background-color: #4a4a4a;
  transform: scale(1.05);
}

.box img {
  width: 40px;
  height: 40px;
}
button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #1976d2;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
button:hover {
  background-color: #145ea8;
}